<!DOCTYPE html>
<html>
  <head>
    <title>Rails Daraja</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="rails app integrating Daraja API" />
    <meta name="keywords" content="rails, daraja, mpesa, mpesa ruby, mpesa rails, mpesa ruby on rails, rails mpesa">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="bg-gray-50">
    <%= render 'navbar' %>
    <main class="relative">
      <% unless flash.empty? %>
        <div id="flash" class="text-white sm:pl-20 absolute top-0 right-40 z-50 w-[50%]shadow-lg rounded">
          <% flash.keys.each do |k| %>
            <div class="sm:px-20 px-3 py-6 flex justify-center items-center gap-4 border-l-4 text-sm relative <%= notification_class(k) %>">
              <i class="<%= notification_icon(k) %> text-xl"></i>
              <%= flash[k] %>
              <div class="cursor-pointer" onclick="document.getElementById('flash').classList.add('hidden')">
                <i class="fa-solid fa-square-xmark text-xl"></i>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>