<!DOCTYPE html>
<html>
  <head>
    <title>Rails Daraja</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="rails app integrating Daraja API" />
    <meta name="keywords" content="rails, daraja, mpesa, mpesa ruby, mpesa rails, mpesa ruby on rails, rails mpesa">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <%= render 'navbar' %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>